[Unit]
Description=OLED Display showing Satellites, PPS, Date/Time and IP Address
After=network.target ntpd.service gpsd.service

[Service]
Type=simple
PIDFile=/var/run/oled.pid
WorkingDirectory=/srv/ntp-gps-oled
ExecStart=node index.js
Restart=no
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
